.flows.json.backup
[{"id":"1bd17114.208f7f","type":"tab","label":"Kernel to Report","disabled":false,"info":""},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"{{{REPORT_DATABASE_HOST}}}","port":"{{{REPORT_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{REPORT_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"81898769.b5aff8","type":"nats-streaming-server","server":"gravity-kernel-nats","port":"4222","cluster":"external-stan"},{"id":"b61f10da.9ee238","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mboker2","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"9610aff8.a70458","type":"redis-config","name":"redis-cluster:6379","options":"redis://redis-cluster:6379","cluster":false,"optionsType":"str"},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Created Event ","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendProductInitialize","vt":"str"},{"t":"eq","v":"SendProductCreate","vt":"str"},{"t":"eq","v":"SendProductUpdate","vt":"str"},{"t":"eq","v":"SendProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":800,"y":600,"wires":[["4271e50d.26fc84"],["4271e50d.26fc84"],["1dc61412.b5eba4"],["bc52838b.d5e9b8"]]},{"id":"697c97fa.1b2138","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":470,"y":2780,"wires":[["dd38db84.5c7468"]]},{"id":"1e9f3f82.f55ba8","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"SendRecordProduct Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordProduct","clientID":"atomic-002","start":"all","start_option":"","durable":true,"durable_name":"atomic-0002","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":260,"y":1780,"wires":[["7d66714d.289108"]]},{"id":"7d66714d.289108","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":530,"y":1780,"wires":[["c12bb94e.9b3c3","e83d1682.49753"]]},{"id":"5591f647.5422","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":470,"y":600,"wires":[["fcaf454e.703438","dc53973e.f5c688"]]},{"id":"4271e50d.26fc84","type":"function","z":"1bd17114.208f7f","name":"Kernel Insert Send Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user = convert_uuid(msg.payload.create_user)\nmsg.payload.update_user = convert_uuid(msg.payload.update_user)\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.completed_time = convert_datetime(msg.payload.completed_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":380,"wires":[["7bb75ccb.d7040c","64941982.9705a"]]},{"id":"7bb75ccb.d7040c","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":300,"wires":[]},{"id":"64941982.9705a","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[send] \n            (uid, \n             event_code, \n             way_name, \n             send_from, \n             send_date, \n             template_code, \n             template_max_length, \n             send_mode, \n             limit_mode, \n             mod_reply, \n             status, \n             priority, \n             msg_type, \n             req_channel, \n             req_batch_id, \n             memo, \n             create_time, \n             create_user, \n             update_time, \n             update_user, \n             completed_time, \n             canceled_time, \n             update_expired_time) \nVALUES     (@uid, \n            @event_code, \n            @way_name, \n            @send_from, \n            @send_date,\n            @template_code, \n            @template_max_length, \n            @send_mode, \n            @limit_mode, \n            @mod_reply, \n            @status, \n            @priority, \n            @msg_type, \n            @req_channel, \n            @req_batch_id, \n            @memo, \n            @create_time, \n            @create_user, \n            @update_time, \n            @update_user, \n            @completed_time, \n            @canceled_time, \n            @update_expired_time) ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_date","type":"DateTime2","valueType":"msg","value":"payload.send_date","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1740,"y":380,"wires":[["952578f0.3398c8","c3ab2c7f.c0e76"]]},{"id":"ed9d9d47.4b7168","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2510,"y":320,"wires":[]},{"id":"b4445676.84ee2","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2260,"y":380,"wires":[["ed9d9d47.4b7168","50c5f02c.dcb34"],[]]},{"id":"952578f0.3398c8","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1840,"y":300,"wires":[]},{"id":"50c5f02c.dcb34","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2490,"y":380,"wires":[]},{"id":"dc53973e.f5c688","type":"debug","z":"1bd17114.208f7f","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"c3ab2c7f.c0e76","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table for Success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":380,"wires":[["b4445676.84ee2","f04bf8df.312698"]]},{"id":"dca3a4e4.1ffa28","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"UPDATE [dbo].[send] \nSET    event_code = @event_code, \n       way_name = @way_name, \n       send_from = @send_from, \n       send_date = @send_date, \n       expire_time = @expire_time, \n       template_code = @template_code, \n       template_max_length = @template_max_length, \n       send_mode = @send_mode, \n       limit_mode = @limit_mode, \n       mod_reply = @mod_reply, \n       status = @status, \n       priority = @priority, \n       msg_type = @msg_type, \n       req_channel = @req_channel, \n       req_batch_id = @req_batch_id, \n       memo = @memo, \n       create_time = @create_time, \n       create_user = @create_user, \n       update_time = @update_time, \n       update_user = @update_user, \n       completed_time = @completed_time, \n       canceled_time = @canceled_time, \n       update_expired_time = @update_expired_time \nWHERE  uid = @uid ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1660,"y":600,"wires":[["7e34bd.0c58ab44","25375a57.850fa6"]]},{"id":"1dc61412.b5eba4","type":"function","z":"1bd17114.208f7f","name":"Kernel Send Update Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user = convert_uuid(msg.payload.create_user)\nmsg.payload.update_user = convert_uuid(msg.payload.update_user)\n// msg.payload.send_time = convert_datetime(msg.payload.send_time)\n// msg.payload.create_time = convert_datetime(msg.payload.create_time)\n// msg.payload.update_time = convert_datetime(msg.payload.update_time)\n// msg.payload.completed_time = convert_datetime(msg.payload.completed_time)\n// msg.payload.expire_time = convert_datetime(msg.payload.expire_time)\n// msg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n// msg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\nmsg.payload2 = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":600,"wires":[["dca3a4e4.1ffa28","9da3b90c.5f1fd8"]]},{"id":"9da3b90c.5f1fd8","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":520,"wires":[]},{"id":"63850e8e.1f0ea","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2410,"y":520,"wires":[]},{"id":"7d479a49.cc0b6c","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2160,"y":600,"wires":[["63850e8e.1f0ea","fdb900d.90ba78"],[]]},{"id":"25375a57.850fa6","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":520,"wires":[]},{"id":"fdb900d.90ba78","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2410,"y":600,"wires":[]},{"id":"7e34bd.0c58ab44","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send table success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] Update Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":600,"wires":[["7d479a49.cc0b6c","fa82e627.4cba3"]]},{"id":"a6415375.fc3d08","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\ndelete from [dbo].[send] WHERE uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1600,"y":860,"wires":[["b3abde72.4aa4a","4be9b895.df3ad"]]},{"id":"bc52838b.d5e9b8","type":"function","z":"1bd17114.208f7f","name":"Kernel Send Delete Payload","func":"function convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":860,"wires":[["a6415375.fc3d08","d351f09f.67705"]]},{"id":"d351f09f.67705","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":800,"wires":[]},{"id":"cd22b049.00b758","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2370,"y":800,"wires":[]},{"id":"4ca357c7.4060a","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2120,"y":860,"wires":[["cd22b049.00b758","3c3f6054.e5ae"],[]]},{"id":"4be9b895.df3ad","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1840,"y":800,"wires":[]},{"id":"3c3f6054.e5ae","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2370,"y":860,"wires":[]},{"id":"b3abde72.4aa4a","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send table Success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":860,"wires":[["4ca357c7.4060a","15de1229.e4420e"]]},{"id":"a7ca20f2.896ad8","type":"function","z":"1bd17114.208f7f","name":"Convert Insert SendRecord Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1560,"wires":[["b3078853.64e1d8","c276462d.16174"]]},{"id":"b3078853.64e1d8","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":1460,"wires":[]},{"id":"c276462d.16174","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"BEGIN\n\nBEGIN TRANSACTION;\n\n\nINSERT INTO [dbo].[send_record] \n            (uid, \n             send_uid, \n             way_name, \n             serial_number, \n             send_time, \n             expire_time, \n             customer_id, \n             customer_phone, \n             customer_reference, \n             req_group_id, \n             req_uid, \n             content, \n             return_code, \n             calc_section, \n             sending_section, \n             section, \n             success_section, \n             failure_section, \n             section_status_list, \n             is_long, \n             is_international, \n             msg_id, \n             actual_send_time, \n             actual_send_phone, \n             gateway_id, \n             status, \n             resp_code, \n             origin_resp_code,\n             gwrecvat, \n             acceptat, \n             sendat, \n             finish_time, \n             meta, \n             create_time, \n             update_time, \n             deliver_time, \n             dr_time, \n             canceled_time, \n             update_expired_time) \nVALUES     (@uid, \n            @send_uid, \n            @way_name, \n            @serial_number, \n            @send_time, \n            @expire_time, \n            @customer_id, \n            @customer_phone, \n            @customer_reference, \n            @req_group_id, \n            @req_uid, \n            @content, \n            @return_code, \n            @calc_section, \n            @sending_section, \n            @section, \n            @success_section, \n            @failure_section, \n            @section_status_list, \n            @is_long, \n            @is_international, \n            @msg_id, \n            @actual_send_time, \n            @actual_send_phone, \n            @gateway_id, \n            @status, \n            @resp_code, \n            @origin_resp_code,\n            @gwrecvat, \n            @acceptat, \n            @sendat, \n            @finish_time, \n            @meta, \n            @create_time, \n            @update_time, \n            @deliver_time, \n            @dr_time, \n            @canceled_time, \n            @update_expired_time) \n            \n            \nINSERT INTO [nbpreport].[dbo].[SI_SinoPacBankMsgInfo] \n            (SerialNum, \n             GUID, \n             MPhoneNum, \n             MsgData, \n             Priority, \n             BookingTime, \n             DepID, \n             MsgType, \n             Memo, \n             SenderID, \n             Bu, \n             Company, \n             Channel, \n             Reference, \n             GroupID, \n             UserName, \n             SourceType, \n             ObjectID, \n             SerialNo, \n             DestNo, \n             DestName, \n             DestCategory, \n             OrderID, \n             MID, \n             SubmitTime, \n             OrderTime, \n             ExpireTime, \n             StatusFlag, \n             SubmitFlag, \n             Filler, \n             StatusTime, \n             BatchCode) \n(SELECT send_record.serial_number                                AS SerialNum, \n        convert(varchar(36), send_record.req_uid)                AS GUID, \n        send_record.customer_phone                               AS MPhoneNum, \n        send_record.content                                      AS MsgData, \n        send.priority                                            AS Priority, \n        send_record.send_time                                    AS BookingTime, \n        send.req_department                                      AS DepID, \n        send.msg_type                                            AS MsgType, \n        send.memo                                                AS Memo, \n        send_record.customer_id                                  AS SenderID, \n        send.req_bu                                              AS Bu, \n        send.req_company                                         AS Company, \n        send.req_channel                                         AS Channel, \n        send_record.customer_reference                           AS Reference, \n        convert(varchar(36), send_record.req_uid)                AS GroupID, \n        substring(convert(varchar(36), send.create_user), 1, 20) AS UserName, \n        ''                                                       AS SourceType, \n        send.req_object_id                                       AS ObjectID, \n        convert(varchar(36), send_record.uid)                    AS SerialNo, \n        send_record.customer_phone                               AS DestNo, \n        convert(varchar(36), send_record.req_uid)                AS DestName, \n        send.req_department                                      AS DestCategory, \n        ''                                                       AS OrderID, \n        ''                                                       AS MID, \n        convert(varchar, send_record.actual_send_time, 112)      AS SubmitTime, \n        convert(varchar, send_record.send_time, 112)             AS OrderTime, \n        convert(varchar, send_record.expire_time, 112)           AS ExpireTime, \n        send_record.resp_code                                    AS StatusFlag, \n        ''                                                       AS SubmitFlag, \n        ''                                                       AS Filler, \n        send_record.dr_time                                      AS StatusTime, \n        send.req_batch_id                                        AS BatchCode \n FROM   [nbpkernel].[dbo].[send_record] as send_record, \n        [nbpkernel].[dbo].[send] as send \n WHERE  send_record.uid = @uid \n        AND send_record.send_uid = send.uid) \n        \n\nCOMMIT;\n\nEND","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"TinyInt","valueType":"msg","value":"payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sending_section","type":"TinyInt","valueType":"msg","value":"payload.sending_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section","type":"TinyInt","valueType":"msg","value":"payload.section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"success_section","type":"TinyInt","valueType":"msg","value":"payload.success_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"failure_section","type":"TinyInt","valueType":"msg","value":"payload.failure_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section_status_list","type":"VarChar(?)","valueType":"msg","value":"payload.section_status_list","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_long","type":"TinyInt","valueType":"msg","value":"payload.is_long","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_international","type":"TinyInt","valueType":"msg","value":"payload.is_international","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_id","type":"VarChar(?)","valueType":"msg","value":"payload.msg_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_time","type":"DateTime2","valueType":"msg","value":"payload.actual_send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_phone","type":"VarChar(?)","valueType":"msg","value":"payload.actual_send_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"resp_code","type":"VarChar(?)","valueType":"msg","value":"payload.resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gwrecvat","type":"VarChar(?)","valueType":"msg","value":"payload.gwrecvat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"acceptat","type":"VarChar(?)","valueType":"msg","value":"payload.acceptat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sendat","type":"VarChar(?)","valueType":"msg","value":"payload.sendat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"finish_time","type":"DateTime2","valueType":"msg","value":"payload.finish_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"meta","type":"NVarChar(?)","valueType":"msg","value":"payload.meta","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"deliver_time","type":"DateTime2","valueType":"msg","value":"payload.deliver_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"dr_time","type":"DateTime2","valueType":"msg","value":"payload.dr_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"origin_resp_code","type":"int","valueType":"msg","value":"payload.origin_resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1580,"y":1560,"wires":[["8c139bb.ad08168","5407e150.bcefb8"]]},{"id":"bcd39946.df6498","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2490,"y":1500,"wires":[]},{"id":"14c2bcc9.69c133","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2240,"y":1560,"wires":[["bcd39946.df6498","b906a5f0.6e9988"],[]]},{"id":"8c139bb.ad08168","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":1460,"wires":[]},{"id":"b906a5f0.6e9988","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2470,"y":1560,"wires":[]},{"id":"5407e150.bcefb8","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":1560,"wires":[["14c2bcc9.69c133","c61f64f4.794e08"]]},{"id":"67ffa869.ce23b","type":"function","z":"1bd17114.208f7f","name":"Convert Update SendRecord Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\n// msg.payload.send_time = convert_datetime(msg.payload.send_time)\n// msg.payload.expire_time = convert_datetime(msg.payload.expire_time)\n// msg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\n// msg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\n// msg.payload.create_time = convert_datetime(msg.payload.create_time)\n// msg.payload.update_time = convert_datetime(msg.payload.update_time)\n// msg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\n// msg.payload.dr_time = convert_datetime(msg.payload.dr_time)\n// msg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\n// msg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1780,"wires":[["1b6e4d1f.0006db","be2bfd50.900b68"]]},{"id":"1b6e4d1f.0006db","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":1680,"wires":[]},{"id":"be2bfd50.900b68","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"BEGIN \n    BEGIN TRANSACTION; \n\n    UPDATE [NBPReport].[dbo].[send_record] \n    SET    send_uid = @send_uid, \n           way_name = @way_name, \n           serial_number = @serial_number, \n           send_time = @send_time, \n           expire_time = @expire_time, \n           customer_id = @customer_id, \n           customer_phone = @customer_phone, \n           customer_reference = @customer_reference, \n           req_group_id = @req_group_id, \n           req_department=@req_department, \n           req_bu=@req_bu, \n           req_company=@req_company, \n           req_object_id=@req_object_id, \n           req_uid = @req_uid, \n           content = @content, \n           return_code = @return_code, \n           calc_section = @calc_section, \n           sending_section = @sending_section, \n           section = @section, \n           success_section = @success_section, \n           failure_section = @failure_section, \n           section_status_list = @section_status_list, \n           is_long = @is_long, \n           is_international = @is_international, \n           msg_id = @msg_id, \n           actual_send_time = @actual_send_time, \n           actual_send_phone = @actual_send_phone, \n           gateway_id = @gateway_id, \n           status = @status, \n           resp_code = @resp_code, \n           origin_resp_code = @origin_resp_code,\n           gwrecvat = @gwrecvat, \n           acceptat = @acceptat, \n           sendat = @sendat, \n           finish_time = @finish_time, \n           meta = @meta, \n           create_time = @create_time, \n           update_time = @update_time, \n           deliver_time = @deliver_time, \n           dr_time = @dr_time, \n           canceled_time = @canceled_time, \n           update_expired_time = @update_expired_time \n    WHERE  uid = @uid \n\n    DECLARE @SerialNum INT \n    DECLARE @GUID CHAR(36) \n    DECLARE @MPhoneNum VARCHAR(25) \n    DECLARE @MsgData NVARCHAR(max) \n    DECLARE @Priority TINYINT \n    DECLARE @BookingTime DATETIME \n    DECLARE @ExpireTime DATETIME \n    DECLARE @DepID VARCHAR(8) \n    DECLARE @MsgType VARCHAR(5) \n    DECLARE @Memo VARCHAR(40) \n    DECLARE @SenderID VARCHAR(15) \n    DECLARE @GroupID VARCHAR(36) \n    DECLARE @Bu CHAR(6) \n    DECLARE @Company CHAR(6) \n    DECLARE @Channel CHAR(16) \n    DECLARE @Reference CHAR(64) \n    DECLARE @UserName VARCHAR(20) \n    DECLARE @SourceType CHAR(1) \n    DECLARE @ObjectID VARCHAR(36) \n    DECLARE @SerialNo VARCHAR(36) \n    DECLARE @DestNo VARCHAR(20) \n    DECLARE @DestName VARCHAR(36) \n    DECLARE @DestCategory CHAR(8) \n    DECLARE @DelegateTime CHAR(14) \n    DECLARE @SubmitTime CHAR(14) \n    DECLARE @OrderID VARCHAR(20) \n    DECLARE @MID VARCHAR(5) \n    DECLARE @OrderTime CHAR(14) \n    DECLARE @StatusFlag CHAR(1) \n    DECLARE @SubmitFlag VARCHAR(3) \n    DECLARE @StatusTime CHAR(14) \n    DECLARE @BatchCode VARCHAR(64) \n    DECLARE @Filler VARCHAR(5) \n\n    SELECT @SerialNum = send_record.serial_number, \n           @GUID = CONVERT(VARCHAR(36), send_record.req_uid), \n           @MPhoneNum = send_record.customer_phone, \n           @MsgData = send_record.content, \n           @Priority = send.priority, \n           @BookingTime = send_record.send_time, \n           @DepID = send.req_department, \n           @MsgType = send.msg_type, \n           @Memo = send.memo, \n           @SenderID = send_record.customer_id, \n           @Bu = send.req_bu, \n           @Company = send.req_company, \n           @Channel = send.req_channel, \n           @Reference = send_record.customer_reference, \n           @GroupID = CONVERT(VARCHAR(36), send_record.req_uid), \n           @UserName = Substring(CONVERT(VARCHAR(36), send.create_user), 1, 20), \n           @SourceType = '', \n           @ObjectID = send.req_object_id, \n           @SerialNo = CONVERT(VARCHAR(36), send_record.uid), \n           @DestNo = send_record.customer_phone, \n           @DestName = CONVERT(VARCHAR(36), send_record.req_uid), \n           @DestCategory = send.req_department, \n           @OrderID = '', \n           @MID = '', \n           @SubmitTime = CONVERT(VARCHAR, send_record.actual_send_time, 112), \n           @OrderTime = CONVERT(VARCHAR, send_record.send_time, 112), \n           @ExpireTime = CONVERT(VARCHAR, send_record.expire_time, 112), \n           @StatusFlag = send_record.resp_code, \n           @SubmitFlag = '', \n           @Filler = '', \n           @StatusTime = send_record.dr_time, \n           @BatchCode = send.req_batch_id \n    FROM   [dbo].[send_record] AS send_record, \n           [dbo].[send] AS send \n    WHERE  send_record.uid = @uid \n           AND send_record.send_uid = send.uid \n\n    UPDATE [nbpreport].[dbo].[SI_SinoPacBankMsgInfo] \n    SET    SerialNum = @SerialNum, \n           MPhoneNum = @MPhoneNum, \n           MsgData = @MsgData, \n           Priority = @Priority, \n           BookingTime = @BookingTime, \n           DepID = @DepID, \n           MsgType = @MsgType, \n           Memo = @Memo, \n           SenderID = @SenderID, \n           Bu = @Bu, \n           Company = @Company, \n           Channel = @Channel, \n           Reference = @Reference, \n           GroupID = @GroupID, \n           UserName = @UserName, \n           SourceType = @SourceType, \n           ObjectID = @ObjectID, \n           SerialNo = @SerialNo, \n           DestNo = @DestNo, \n           DestCategory = @DestCategory, \n           OrderID = @OrderID, \n           MID = @MID, \n           SubmitTime = @SubmitTime, \n           OrderTime = @OrderTime, \n           ExpireTime = @ExpireTime, \n           StatusFlag = @StatusFlag, \n           SubmitFlag = @SubmitFlag, \n           Filler = @Filler, \n           StatusTime = @StatusTime, \n           BatchCode = @BatchCode \n    WHERE  GUID = @GUID \n\n    COMMIT; \nEND ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"TinyInt","valueType":"msg","value":"payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sending_section","type":"TinyInt","valueType":"msg","value":"payload.sending_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section","type":"TinyInt","valueType":"msg","value":"payload.section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"success_section","type":"TinyInt","valueType":"msg","value":"payload.success_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"failure_section","type":"TinyInt","valueType":"msg","value":"payload.failure_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section_status_list","type":"VarChar(?)","valueType":"msg","value":"payload.section_status_list","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_long","type":"TinyInt","valueType":"msg","value":"payload.is_long","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_international","type":"TinyInt","valueType":"msg","value":"payload.is_international","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_id","type":"VarChar(?)","valueType":"msg","value":"payload.msg_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_time","type":"DateTime2","valueType":"msg","value":"payload.actual_send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_phone","type":"VarChar(?)","valueType":"msg","value":"payload.actual_send_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"resp_code","type":"VarChar(?)","valueType":"msg","value":"payload.resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gwrecvat","type":"VarChar(?)","valueType":"msg","value":"payload.gwrecvat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"acceptat","type":"VarChar(?)","valueType":"msg","value":"payload.acceptat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sendat","type":"VarChar(?)","valueType":"msg","value":"payload.sendat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"finish_time","type":"DateTime2","valueType":"msg","value":"payload.finish_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"meta","type":"NVarChar(?)","valueType":"msg","value":"payload.meta","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"deliver_time","type":"DateTime2","valueType":"msg","value":"payload.deliver_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"dr_time","type":"DateTime2","valueType":"msg","value":"payload.dr_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"origin_resp_code","type":"VarChar(?)","valueType":"msg","value":"payload.origin_resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1560,"y":1780,"wires":[["e3728899.9a42e8","511a6ca2.c1e66c"]]},{"id":"1d388a5f.134dc6","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":1720,"wires":[]},{"id":"f4c0606c.e53018","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2200,"y":1780,"wires":[["1d388a5f.134dc6","7932f1c3.e926e8"],[]]},{"id":"e3728899.9a42e8","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":1680,"wires":[]},{"id":"7932f1c3.e926e8","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2430,"y":1780,"wires":[]},{"id":"511a6ca2.c1e66c","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1940,"y":1780,"wires":[["f4c0606c.e53018","5fbdd7ff.ffaa68"]]},{"id":"22cd7441.faa294","type":"function","z":"1bd17114.208f7f","name":"Convert Delete SendRecord Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1980,"wires":[["97222ceb.d8392","973bbb3.19607c8"]]},{"id":"97222ceb.d8392","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":1900,"wires":[]},{"id":"973bbb3.19607c8","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"delete from [dbo].[send_record] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1560,"y":1980,"wires":[["13739ac5.4edb9d","449f988a.2c6ff"]]},{"id":"f2be00cd.63eb5","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2470,"y":1920,"wires":[]},{"id":"12f3ebad.5cb864","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2220,"y":1980,"wires":[["f2be00cd.63eb5","64a86582.d396dc"],[]]},{"id":"13739ac5.4edb9d","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1960,"y":1900,"wires":[]},{"id":"64a86582.d396dc","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2450,"y":1980,"wires":[]},{"id":"449f988a.2c6ff","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":1980,"wires":[["12f3ebad.5cb864","b2d7772a.379af8"]]},{"id":"6b6f9b38.416b24","type":"function","z":"1bd17114.208f7f","name":"Convert Insert SendRecordReply Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_record_uid= convert_uuid(msg.payload.send_record_uid)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.reply_time = convert_datetime(msg.payload.reply_time)\n\nmsg.send_record_reply_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":2600,"wires":[["3b752069.c7fab8","e5a18d94.722ff"]]},{"id":"3b752069.c7fab8","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Reply Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":2500,"wires":[]},{"id":"e5a18d94.722ff","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[send_record_reply] \n            (uid, \n             send_record_uid, \n             customer_id, \n             customer_phone, \n             customer_reference, \n             tx_date, \n             tx_time, \n             event_code, \n             return_code, \n             create_time, \n             update_time, \n             reply_content, \n             reply_time, \n             status, \n             gateway_id, \n             code) \nVALUES     (@uid, \n            @send_record_uid, \n            @customer_id, \n            @customer_phone, \n            @customer_reference, \n            @tx_date, \n            @tx_time, \n            @event_code, \n            @return_code, \n            @create_time, \n            @update_time, \n            @reply_content, \n            @reply_time, \n            @status, \n            @gateway_id, \n            @code) \n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"tx_date","type":"VarChar(?)","valueType":"msg","value":"payload.tx_date","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"tx_time","type":"VarChar(?)","valueType":"msg","value":"payload.tx_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"reply_content","type":"VarChar(?)","valueType":"msg","value":"payload.reply_content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"reply_time","type":"DateTime2","valueType":"msg","value":"payload.reply_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"TinyInt","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"code","type":"VarChar(?)","valueType":"msg","value":"payload.code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1460,"y":2600,"wires":[["c9278c12.434c98","81123baf.1dcb2"]]},{"id":"25d60caf.41f0fc","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":2540,"wires":[]},{"id":"11331032.2f2a","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2080,"y":2600,"wires":[["25d60caf.41f0fc","2f5f481f.f34a98"],[]]},{"id":"c9278c12.434c98","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1800,"y":2500,"wires":[]},{"id":"2f5f481f.f34a98","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2310,"y":2600,"wires":[]},{"id":"81123baf.1dcb2","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"Insert Report DB send_record_reply for Success, UID:\" + msg.send_record_reply_table_uid \n} else {\n    msg.result = \"Insert Report DB send_record_reply table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":2600,"wires":[["11331032.2f2a","53addc0c.812c2c"]]},{"id":"77f4427c.5498a4","type":"function","z":"1bd17114.208f7f","name":"Convert Update SendRecordReply Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_record_uid= convert_uuid(msg.payload.send_record_uid)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.reply_time = convert_datetime(msg.payload.reply_time)\n\nmsg.send_record_reply_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":2800,"wires":[["23936970.28627e","6e83c597.3c7d04"]]},{"id":"23936970.28627e","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Reply Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":2700,"wires":[]},{"id":"6e83c597.3c7d04","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"UPDATE [dbo].[send_record_reply] \nSET    send_record_uid = @send_record_uid, \n       customer_id = @customer_id, \n       customer_phone = @customer_phone, \n       customer_reference = @customer_reference, \n       tx_date = @tx_date, \n       tx_time = @tx_time, \n       event_code = @event_code, \n       return_code = @return_code, \n       create_time = @create_time, \n       update_time = @update_time, \n       reply_content = @reply_content, \n       reply_time = @reply_time, \n       status = @status, \n       gateway_id = @gateway_id, \n       code = @code \nWHERE  uid = @uid\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"tx_date","type":"VarChar(?)","valueType":"msg","value":"payload.tx_date","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"tx_time","type":"VarChar(?)","valueType":"msg","value":"payload.tx_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"reply_content","type":"NVarChar(?)","valueType":"msg","value":"payload.reply_content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"reply_time","type":"DateTime2","valueType":"msg","value":"payload.reply_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"TinyInt","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"code","type":"VarChar(?)","valueType":"msg","value":"payload.code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1460,"y":2800,"wires":[["7a650079.7ce23","50fa6f0c.a3326"]]},{"id":"121e0b1d.ad27a5","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2290,"y":2740,"wires":[]},{"id":"f735e75a.390ad8","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2040,"y":2800,"wires":[["121e0b1d.ad27a5","97ca0aff.abc2d8"],[]]},{"id":"7a650079.7ce23","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1780,"y":2700,"wires":[]},{"id":"97ca0aff.abc2d8","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2270,"y":2800,"wires":[]},{"id":"50fa6f0c.a3326","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record_reply for Success, UID:\" + msg.send_record_reply_table_uid \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record_reply table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2800,"wires":[["f735e75a.390ad8","8744526.5e4863"]]},{"id":"57fd1e20.9f4be","type":"function","z":"1bd17114.208f7f","name":"Convert Delete SendRecordReply Payload","func":"\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload2 = msg.payload\n\nmsg.send_record_reply_table_uid = msg.payload.uid\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":3000,"wires":[["207134c3.d95cdc","aad15a73.fdae98"]]},{"id":"207134c3.d95cdc","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Reply Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":2900,"wires":[]},{"id":"aad15a73.fdae98","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE from [dbo].[send_record_reply] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1460,"y":3000,"wires":[["2e665894.5e53e8","6c4c9bd6.3e33cc"]]},{"id":"b9f2dd1d.6a2bf","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":2940,"wires":[]},{"id":"373b9b6e.771174","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2080,"y":3000,"wires":[["b9f2dd1d.6a2bf","e35b455d.bed9e"],[]]},{"id":"2e665894.5e53e8","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1760,"y":2900,"wires":[]},{"id":"e35b455d.bed9e","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2310,"y":3000,"wires":[]},{"id":"6c4c9bd6.3e33cc","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record_reply for Success, UID:\" + msg.send_record_reply_table_uid \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record_reply table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":3000,"wires":[["373b9b6e.771174","aafbfb9b.405e5"]]},{"id":"8c04ae9d.fbd298","type":"debug","z":"1bd17114.208f7f","name":"Redis Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":3400,"wires":[]},{"id":"a9c7830f.bacc98","type":"redis-in","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"subscribe","name":"","topic":"gravity_kernel_report","obj":true,"timeout":"3","x":320,"y":3400,"wires":[["8c04ae9d.fbd298"]]},{"id":"f04bf8df.312698","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2260,"y":300,"wires":[]},{"id":"fa82e627.4cba3","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2140,"y":520,"wires":[]},{"id":"15de1229.e4420e","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2120,"y":800,"wires":[]},{"id":"c61f64f4.794e08","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2260,"y":1480,"wires":[]},{"id":"5fbdd7ff.ffaa68","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2220,"y":1700,"wires":[]},{"id":"b2d7772a.379af8","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2220,"y":1920,"wires":[]},{"id":"53addc0c.812c2c","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2080,"y":2500,"wires":[]},{"id":"8744526.5e4863","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2060,"y":2740,"wires":[]},{"id":"aafbfb9b.405e5","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_kernel_report","obj":true,"x":2040,"y":2900,"wires":[]},{"id":"c12bb94e.9b3c3","type":"switch","z":"1bd17114.208f7f","name":"Check Created Event ","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendRecordProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordProductCreate","vt":"str"},{"t":"eq","v":"SendRecordProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":900,"y":1780,"wires":[["a7ca20f2.896ad8"],["a7ca20f2.896ad8"],["67ffa869.ce23b"],["22cd7441.faa294"]]},{"id":"dd38db84.5c7468","type":"switch","z":"1bd17114.208f7f","name":"Check Created Event ","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendRecordReplyProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordReplyProductCreate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":700,"y":2780,"wires":[["6b6f9b38.416b24"],["6b6f9b38.416b24"],["77f4427c.5498a4"],["57fd1e20.9f4be"]]},{"id":"e83d1682.49753","type":"debug","z":"1bd17114.208f7f","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":1660,"wires":[]},{"id":"25cdc951.c5ac2e","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"SendRecordReplyProduct Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordReplyProduct","clientID":"atomic-003","start":"all","start_option":"","durable":true,"durable_name":"atomic-0003","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":220,"y":2780,"wires":[["697c97fa.1b2138"]]},{"id":"5a370a6a.453364","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"SendProduct Source","server":"81898769.b5aff8","channel":"rowData.source.SendProduct","clientID":"atomic-001","start":"last_reveived","start_option":"","durable":true,"durable_name":"atomic-0001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":190,"y":600,"wires":[["5591f647.5422"]]},{"id":"1c9e065f.a0da22","type":"comment","z":"1bd17114.208f7f","name":"Send Table","info":"","x":180,"y":640,"wires":[]},{"id":"bf62da98.f93a7","type":"comment","z":"1bd17114.208f7f","name":"Send Record Table","info":"","x":250,"y":1820,"wires":[]},{"id":"6411a662.9259e8","type":"comment","z":"1bd17114.208f7f","name":"Send Record Reply Table","info":"","x":230,"y":2840,"wires":[]}]