.flows.json.backup
[{"id":"1bd17114.208f7f","type":"tab","label":"Kernel to Report","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats","port":"4222"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"62ea718e.c8bb5","type":"Gravity Server","server":"source-gravity-nats","port":"4222"},{"id":"5bc4d721.d177e8","type":"Gravity Server","server":"target-gravity-nats","port":"4222"},{"id":"a1b2b06d.089da","type":"nats-streaming-server","server":"gravity1-nats","port":"4222","cluster":"external-stan"},{"id":"f04213fa.c22b48","type":"MSSQL-CN","tdsVersion":"7_4","name":"Target MSSQL","server":"target-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"Brobridge","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","enableArithAbort":true},{"id":"2ca87b75.cb01dc","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #1","server":"source-mssql1-1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"d5cda53a.b9005","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #2","server":"source-mssql2.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"79cd02d9.42f16c","type":"MSSQL-CN","tdsVersion":"7_4","name":"Kernel MSSQL","server":"kernel-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1c910e21.fc66da","type":"MSSQL-CN","tdsVersion":"7_4","name":"Target MSSQL1","server":"target-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"brobridge2","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"report-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"6ba585bc.0efc8c","type":"MSSQL-CN","tdsVersion":"7_4","name":"target1-mssql","server":"target1-mssql","port":"1433","encyption":false,"trustServerCertificate":true,"database":"TestDB","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"c05b6da5.1f28e","type":"nats-streaming-server","server":"gravity2-nats","port":"4222","cluster":"external-stan"},{"id":"a0810888.a09f1","type":"Gravity Server","server":"gravity-kernel-nats","port":"4222"},{"id":"81898769.b5aff8","type":"nats-streaming-server","server":"gravity-kernel-nats","port":"4222","cluster":"external-stan"},{"id":"5e997637.8b4f58","type":"debug","z":"1bd17114.208f7f","name":"Debug NATS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1360,"wires":[]},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendProductInitialize","vt":"str"},{"t":"eq","v":"SendProductCreate","vt":"str"},{"t":"eq","v":"SendProductUpdate","vt":"str"},{"t":"eq","v":"SendProductDelete","vt":"str"},{"t":"eq","v":"SendRecordProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordProductCreate","vt":"str"},{"t":"eq","v":"SendRecordProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordProductDelete","vt":"str"},{"t":"eq","v":"SendRecordReplyProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordReplyProductCreate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":1270,"y":1360,"wires":[["4271e50d.26fc84"],["4271e50d.26fc84"],[],[],[],[],[],[],[],[],[],[]]},{"id":"9f5a3605.222b18","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Target","outField":"payload","returnType":0,"throwErrors":"0","query":"\n\nINSERT INTO [dbo].[send_record](priority,send_time,expire_time,req_department,msgType,memo, req_bu, req_company, req_channel, req_group_id, req_object_id, req_batch_id) OUTPUT Inserted.UID VALUES(@priority, @send_time, @expire_time, @req_department, @msgType,memo, @req_bu, @req_company, @req_channel, @req_group_id, @req_object_id, @req_batch_id)\n\n\n// ----------------------------------------------------------\n// send table\n// ----------------------------------------------------------\n\n// query.insert(\n//     {\n//         customer_phone: msg.payload.message.MPhoneNum,\n//         content: msg.payload.message.MsgData,\n//         send_time: BookingTime,\n//         expire_time: NewExpireTime,\n//         customer_id: msg.payload.message.SenderID,\n//         customer_reference: msg.payload.message.Reference,\n//         calc_section: send_record_calc_section,\n//         status:0\n        \n//     }\n// ).into('send_record').returning('uid')\n\n\n// // send_record table\n\n\n// send_record_calc_section = Math.ceil(content.length / 70)\n\n\n// query.insert(\n//     {\n//         customer_phone: msg.payload.message.MPhoneNum,\n//         content: msg.payload.message.MsgData,\n//         send_time: BookingTime,\n//         expire_time: NewExpireTime,\n//         customer_id: msg.payload.message.SenderID,\n//         customer_reference: msg.payload.message.Reference,\n//         calc_section: send_record_calc_section,\n//         status:0\n        \n//     }\n// ).into('send_record').returning('uid')\n\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"priority","type":"int","valueType":"msg","value":"gravity_payload.message.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"int","valueType":"msg","value":"gravity_payload.message.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"int","valueType":"msg","value":"msg.gravity_payload.message.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msgType","type":"int","valueType":"msg","value":"msg.gravity_payload.message.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.GroupID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.BatchID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":4900,"y":4320,"wires":[[]]},{"id":"eac7848e.e8036","type":"loop","z":"1bd17114.208f7f","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":4510,"y":4320,"wires":[[],["9f5a3605.222b18"]]},{"id":"e82c1d35.ecf818","type":"Gravity Subscriber","z":"1bd17114.208f7f","d":true,"name":"Gravity Kernel Source Event","server":"a0810888.a09f1","subscriberID":"","enabledAuth":false,"initialLoad":true,"collections":["SendProduct","SendRecordProduct","SendRecordReplyProduct"],"x":260,"y":1460,"wires":[["20924609.e02d12","5e997637.8b4f58"]]},{"id":"ce559453.27066","type":"function","z":"1bd17114.208f7f","name":"get next","func":"node.send({topic: \"control\", payload: \"drop\"})\nmsg.topic = \"control\"\nmsg.payload = \"peek\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2180,"wires":[["44b29a0.ecf39e8"]]},{"id":"44b29a0.ecf39e8","type":"link out","z":"1bd17114.208f7f","name":"","links":["1406ce10.7b8862"],"x":715,"y":2180,"wires":[]},{"id":"1406ce10.7b8862","type":"link in","z":"1bd17114.208f7f","name":"","links":["44b29a0.ecf39e8"],"x":715,"y":2060,"wires":[["f1b7b544.2cdaf8"]]},{"id":"20924609.e02d12","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1580,"wires":[["ebc75cd.91940a"]]},{"id":"ebc75cd.91940a","type":"function","z":"1bd17114.208f7f","d":true,"name":"start processing","func":"var newMsg;\n\nnewMsg = { \n        topic: \"control\",\n        payload: \"peek\",\n}  \n\n//node.log(global.get(\"ALLOW\"))\n\nif (global.get(\"ALLOW\") != 1) \n{\n    global.set(\"ALLOW\",  1);\n    node.status({fill: \"green\",text:\"RUN ONCE\"});\n    return newMsg;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \nglobal.set(\"ALLOW\",  0) ","finalize":"","libs":[],"x":540,"y":1580,"wires":[["f1b7b544.2cdaf8"]]},{"id":"58b38cce.1a7f1c","type":"status","z":"1bd17114.208f7f","name":"q-gate status","scope":["f1b7b544.2cdaf8"],"x":290,"y":2260,"wires":[["423831f1.928dd8"]]},{"id":"423831f1.928dd8","type":"function","z":"1bd17114.208f7f","name":"Reset","func":"if (global.get(\"ALLOW\") ==  1  && msg.status.text.replace('queuing: ', '') == '0' ){\n    global.set(\"ALLOW\",  0) \n}\n//node.log(global.get(\"ALLOW\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":2260,"wires":[[]]},{"id":"cb895bbf.7b6538","type":"complete","z":"1bd17114.208f7f","name":"","scope":["aed10744.d7d81","592520c4.80ea68"],"uncaught":false,"x":290,"y":2120,"wires":[["ce559453.27066","4694a563.ec196c"]]},{"id":"f1b7b544.2cdaf8","type":"q-gate","z":"1bd17114.208f7f","name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":830,"y":1460,"wires":[[]]},{"id":"4694a563.ec196c","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"","x":580,"y":1980,"wires":[]},{"id":"f394c4c7.c05e","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendProduct","clientID":"atomic-001","start":"all","start_option":"","durable":true,"durable_name":"atomic-0001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1140,"wires":[["697c97fa.1b2138"]]},{"id":"697c97fa.1b2138","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1140,"wires":[["fcaf454e.703438","dc53973e.f5c688"]]},{"id":"56e49599.27247c","type":"inject","z":"1bd17114.208f7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2000,"wires":[["4694a563.ec196c"]]},{"id":"6d764386.4b9c5c","type":"inject","z":"1bd17114.208f7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":2400,"wires":[["423831f1.928dd8"]]},{"id":"1e9f3f82.f55ba8","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordProduct","clientID":"atomic-002","start":"all","start_option":"","durable":true,"durable_name":"atomic-0002","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1060,"wires":[["7d66714d.289108"]]},{"id":"7d66714d.289108","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1060,"wires":[["fcaf454e.703438","dc53973e.f5c688"]]},{"id":"78013665.1d1bc","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordReplyProduct","clientID":"atomic-003","start":"all","start_option":"","durable":true,"durable_name":"atomic-0003","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1000,"wires":[["5591f647.5422"]]},{"id":"5591f647.5422","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1000,"wires":[["fcaf454e.703438","dc53973e.f5c688"]]},{"id":"4271e50d.26fc84","type":"function","z":"1bd17114.208f7f","name":"Convert Payload","func":"\nmsg.payload = msg.payload.payload\n\n// uid\n\nlet source = msg.payload.puid;\n\nlet raw = new Buffer.alloc(16, source, 'base64');\n\nlet p1 = raw.subarray(0, 4);\nlet p2 = raw.subarray(4, 6);\nlet p3 = raw.subarray(6, 8);\nlet p4 = raw.subarray(8, 10);\nlet p5 = raw.subarray(10);\n\nlet uuidArr = [\n p1.swap32().toString('hex'),\n p2.swap16().toString('hex'),\n p3.swap16().toString('hex'),\n p4.toString('hex'),\n p5.toString('hex')\n];\n\nmsg.payload.uid= uuidArr.join('-');\nmsg.send_table_uid = msg.payload.uid\n\n// create_user\n\nif (msg.payload.create_user != null) {\n\nlet source = msg.payload.create_user;\n\nlet raw = new Buffer.alloc(16, source, 'base64');\n\nlet p1 = raw.subarray(0, 4);\nlet p2 = raw.subarray(4, 6);\nlet p3 = raw.subarray(6, 8);\nlet p4 = raw.subarray(8, 10);\nlet p5 = raw.subarray(10);\n\nlet uuidArr = [\n p1.swap32().toString('hex'),\n p2.swap16().toString('hex'),\n p3.swap16().toString('hex'),\n p4.toString('hex'),\n p5.toString('hex')\n];\n\nmsg.payload.create_user= uuidArr.join('-');\n\n    \n}\n\n\n// update_user\n\nif (msg.payload.update_user != null)  {\n\nlet source = msg.payload.update_user;\n\nlet raw = new Buffer.alloc(16, source, 'base64');\n\nlet p1 = raw.subarray(0, 4);\nlet p2 = raw.subarray(4, 6);\nlet p3 = raw.subarray(6, 8);\nlet p4 = raw.subarray(8, 10);\nlet p5 = raw.subarray(10);\n\nlet uuidArr = [\n p1.swap32().toString('hex'),\n p2.swap16().toString('hex'),\n p3.swap16().toString('hex'),\n p4.toString('hex'),\n p5.toString('hex')\n];\n\nmsg.payload.update_user= uuidArr.join('-');\n\n}\n\nmsg.payload2 = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":280,"wires":[["7bb75ccb.d7040c"]]},{"id":"7bb75ccb.d7040c","type":"debug","z":"1bd17114.208f7f","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1710,"y":220,"wires":[]},{"id":"64941982.9705a","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[send](uid, event_code, way_name, send_from, send_time, expire_time, template_code, template_max_length, send_mode, limit_mode, mod_reply, status, priority, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, req_batch_id, memo, create_time, create_user, update_time, update_user, completed_time, canceled_time, update_expired_time) values(@uid, @event_code, @way_name, @send_from, @send_time, @expire_time, @template_code, @template_max_length, @send_mode, @limit_mode, @mod_reply, @status, @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @req_batch_id, @memo, @create_time, @create_user, @update_time, @update_user, @completed_time, @canceled_time, @update_expired_time)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1820,"y":280,"wires":[["b4445676.84ee2","952578f0.3398c8"]]},{"id":"16e8fb18.6d8afd","type":"function","z":"1bd17114.208f7f","name":"Log Success Information","func":"\nif (msg.error == null) {\n    msg.result = \"Write Report DB send table for Success, UID:\" + msg.send_table_uid\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":240,"wires":[["ed9d9d47.4b7168","aed10744.d7d81"]]},{"id":"ed9d9d47.4b7168","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2570,"y":220,"wires":[]},{"id":"4a9c6de7.2cd344","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"","outField":"payload","returnType":0,"throwErrors":"0","query":"\nIF EXISTS (SELECT 1 FROM [dbo].[send] WHERE uid = @uid)\nBEGIN\n    INSERT INTO [dbo].[send](uid, event_code, way_name, send_from, send_time, expire_time, template_code, template_max_length, send_mode, limit_mode, mod_reply, status, priority, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, req_batch_id, memo, create_time, create_user, update_time, update_user, completed_time, canceled_time, update_expired_time) values(@uid, @event_code, @way_name, @send_from, @send_time, @expire_time, @template_code, @template_max_length, @send_mode, @limit_mode, @mod_reply, @status, @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @req_batch_id, @memo, @create_time, @create_user, @update_time, @update_user, @completed_time, @canceled_time, @update_expired_time)\nEND\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.message.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.message.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.message.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.message.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.message.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.message.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.message.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.message.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.message.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.message.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.message.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.message.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.message.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.message.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.message.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.message.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1660,"y":1680,"wires":[["a5751ae8.740128","4e6cf9eb.4cd5","5693a17b.3ad4c"]]},{"id":"a5751ae8.740128","type":"function","z":"1bd17114.208f7f","name":"","func":"\nif (msg.error != null) {\n    msg.result = \"Write Report DB Error - \" + msg.error\n    \n} else {\n    msg.result = \"Write Report DB send table for Success, UID:\" + msg.send_table_uid\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":1520,"wires":[["3d0c4fab.b846e"]]},{"id":"4e6cf9eb.4cd5","type":"debug","z":"1bd17114.208f7f","name":"Kernel to Report MSSQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1970,"y":1800,"wires":[]},{"id":"3d0c4fab.b846e","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":1480,"wires":[]},{"id":"5693a17b.3ad4c","type":"function","z":"1bd17114.208f7f","name":"All Done","func":"","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1680,"wires":[[]]},{"id":"2dc0ae32.b7c37a","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"","outField":"payload","returnType":0,"throwErrors":"0","query":"\nIF EXISTS (SELECT 1 FROM [dbo].[send] WHERE uid = @uid)\nBEGIN\n    INSERT INTO [dbo].[send](uid, event_code, way_name, send_from, send_time, expire_time, template_code, template_max_length, send_mode, limit_mode, mod_reply, status, priority, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, req_batch_id, memo, create_time, create_user, update_time, update_user, completed_time, canceled_time, update_expired_time) values(@uid, @event_code, @way_name, @send_from, @send_time, @expire_time, @template_code, @template_max_length, @send_mode, @limit_mode, @mod_reply, @status, @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @req_batch_id, @memo, @create_time, @create_user, @update_time, @update_user, @completed_time, @canceled_time, @update_expired_time)\nEND\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.message.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.message.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.message.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.message.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.message.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.message.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.message.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.message.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.message.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.message.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.message.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.message.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.message.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.message.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.message.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.message.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2240,"y":2780,"wires":[["c81a9375.7248d","eef5073a.795408","10b84ddd.1d188a"]]},{"id":"c81a9375.7248d","type":"function","z":"1bd17114.208f7f","name":"","func":"\nif (msg.error != null) {\n    msg.result = \"Write Report DB Error - \" + msg.error\n    \n} else {\n    msg.result = \"Write Report DB send table for Success, UID:\" + msg.send_table_uid\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":2540,"wires":[["6fdaf76e.d1df88"]]},{"id":"eef5073a.795408","type":"debug","z":"1bd17114.208f7f","name":"Kernel to Report MSSQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":2940,"wires":[]},{"id":"6fdaf76e.d1df88","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2820,"y":2420,"wires":[]},{"id":"10b84ddd.1d188a","type":"function","z":"1bd17114.208f7f","name":"All Done","func":"","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":2740,"wires":[[]]},{"id":"6cc3f3fb.bcbc3c","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":480,"wires":[["64941982.9705a"]]},{"id":"850a582.2f20ca8","type":"function","z":"1bd17114.208f7f","name":"Create PayLoad","func":"msg.payload = msg.payload2\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2560,"y":420,"wires":[["6cc3f3fb.bcbc3c"]]},{"id":"b4445676.84ee2","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"error","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2060,"y":280,"wires":[["16e8fb18.6d8afd"],["ebf2040b.540008"]]},{"id":"aed10744.d7d81","type":"function","z":"1bd17114.208f7f","name":"Success Done","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":280,"wires":[["50c5f02c.dcb34"]]},{"id":"ebf2040b.540008","type":"function","z":"1bd17114.208f7f","name":"Log Error  Information","func":"\nif (msg.error != null) {\n    msg.result = \"Write Report DB failure: \" + msg.error\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":340,"wires":[["bf653d42.790948","850a582.2f20ca8"]]},{"id":"bf653d42.790948","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2590,"y":340,"wires":[]},{"id":"74ebaeeb.8956","type":"function","z":"1bd17114.208f7f","name":"Convert Payload","func":"\n// uid\n\nlet source = msg.payload.message.uid;\n\nlet raw = new Buffer.alloc(16, source, 'base64');\n\nlet p1 = raw.subarray(0, 4);\nlet p2 = raw.subarray(4, 6);\nlet p3 = raw.subarray(6, 8);\nlet p4 = raw.subarray(8, 10);\nlet p5 = raw.subarray(10);\n\nlet uuidArr = [\n p1.swap32().toString('hex'),\n p2.swap16().toString('hex'),\n p3.swap16().toString('hex'),\n p4.toString('hex'),\n p5.toString('hex')\n];\n\nmsg.payload.message.uid= uuidArr.join('-');\nmsg.send_table_uid = msg.payload.message.uid\n\n// create_user\n\nif (msg.payload.message.create_user != null) {\n\nlet source = msg.payload.message.create_user;\n\nlet raw = new Buffer.alloc(16, source, 'base64');\n\nlet p1 = raw.subarray(0, 4);\nlet p2 = raw.subarray(4, 6);\nlet p3 = raw.subarray(6, 8);\nlet p4 = raw.subarray(8, 10);\nlet p5 = raw.subarray(10);\n\nlet uuidArr = [\n p1.swap32().toString('hex'),\n p2.swap16().toString('hex'),\n p3.swap16().toString('hex'),\n p4.toString('hex'),\n p5.toString('hex')\n];\n\nmsg.payload.message.create_user= uuidArr.join('-');\n\n    \n}\n\n\n// update_user\n\nif (msg.payload.message.update_user != null)  {\n\nlet source = msg.payload.message.update_user;\n\nlet raw = new Buffer.alloc(16, source, 'base64');\n\nlet p1 = raw.subarray(0, 4);\nlet p2 = raw.subarray(4, 6);\nlet p3 = raw.subarray(6, 8);\nlet p4 = raw.subarray(8, 10);\nlet p5 = raw.subarray(10);\n\nlet uuidArr = [\n p1.swap32().toString('hex'),\n p2.swap16().toString('hex'),\n p3.swap16().toString('hex'),\n p4.toString('hex'),\n p5.toString('hex')\n];\n\nmsg.payload.message.update_user= uuidArr.join('-');\n\n}\n\nmsg.payload2 = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":720,"wires":[["f6fbb1d0.8ab9","fb646351.fe2ae8"]]},{"id":"f6fbb1d0.8ab9","type":"debug","z":"1bd17114.208f7f","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.message","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":660,"wires":[]},{"id":"fb646351.fe2ae8","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"","outField":"payload","returnType":0,"throwErrors":"0","query":"\nupdate INTO [dbo].[send] set(uid=@uid, event_code=@event_code, way_name=@way_name, send_from=@send_from, send_time=@send_from, expire_time=@expire_time, template_code=@template_code, template_max_length=@template_max_length, send_mode=@send_mode, limit_mode=@limit_mode, mod_reply=@mod_reply, status=@status, priority=@priority, msg_type=@msg_type, req_department=@req_department, req_bu=@req_bu, req_company=@req_company, req_channel=@req_channel, req_object_id=@req_object_id, req_batch_id=@req_batch_id, memo=@memo, create_time=@create_time, create_user=@create_user, update_time=@create_user, update_user=@update_user, completed_time=@completed_time, canceled_time=@canceled_time, update_expired_time=@update_expired_time) ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.message.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.message.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.message.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.message.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.message.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.message.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.message.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.message.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.message.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.message.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.message.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.message.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.message.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.message.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.message.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.message.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1940,"y":720,"wires":[["71e97c66.e1bd34","6c0c05b0.6f35cc"]]},{"id":"bec5785.f6d0488","type":"function","z":"1bd17114.208f7f","name":"Log Success Information","func":"\nif (msg.error == null) {\n    msg.result = \"Update Report DB send table for Success, UID:\" + msg.send_table_uid\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":720,"wires":[["93230893.20b3b8","592520c4.80ea68"]]},{"id":"71e97c66.e1bd34","type":"debug","z":"1bd17114.208f7f","name":"Kernel to Report MSSQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2150,"y":660,"wires":[]},{"id":"93230893.20b3b8","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":660,"wires":[]},{"id":"5b82d6a0.31cb18","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1720,"y":920,"wires":[["fb646351.fe2ae8"]]},{"id":"2957024d.25605e","type":"function","z":"1bd17114.208f7f","name":"Create PayLoad","func":"msg.payload = msg.payload2\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2680,"y":860,"wires":[["5b82d6a0.31cb18"]]},{"id":"6c0c05b0.6f35cc","type":"switch","z":"1bd17114.208f7f","name":"","property":"error","propertyType":"msg","rules":[{"t":"empty"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2170,"y":720,"wires":[["bec5785.f6d0488"],["6ed09248.a9eeac"]]},{"id":"592520c4.80ea68","type":"function","z":"1bd17114.208f7f","name":"Success Done","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2720,"y":720,"wires":[["41fda88b.b2c578"]]},{"id":"6ed09248.a9eeac","type":"function","z":"1bd17114.208f7f","name":"Log Error  Information","func":"\nif (msg.error != null) {\n    msg.result = \"Update Report DB failure: \" + msg.error\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":780,"wires":[["79825a5a.950a84","2957024d.25605e"]]},{"id":"79825a5a.950a84","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2710,"y":780,"wires":[]},{"id":"952578f0.3398c8","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1980,"y":220,"wires":[]},{"id":"41fda88b.b2c578","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"","x":3040,"y":720,"wires":[]},{"id":"50c5f02c.dcb34","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"","x":2960,"y":280,"wires":[]},{"id":"dc53973e.f5c688","type":"debug","z":"1bd17114.208f7f","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1000,"wires":[]}]